* {
  margin: 0;
  padding: 0;
  font-family: 'Lora', serif;
}

.contenedor {
  background-size: contain;
  height: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 0.5fr 5fr 0.5fr;
  grid-template-areas:
    "nav nav nav nav"
    "cuerpo cuerpo cuerpo cuerpo"
    "footer footer footer footer";
}

.navegador {
  background-color: rgba(14, 13, 13, 0.226);
  grid-area: nav;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;


}

.principal {
  grid-area: cuerpo;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer {
  grid-area: footer;
}

#titulo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: solid black 1px;
  border-radius: 5px;
  background-color: rgba(0, 0, 255, 0.294);
  margin: .5rem;
  padding: .5rem;
}

#formulario {
  background-color: rgba(104, 91, 91, 0.274);
  border: black solid 1px;
  border-radius: 5px;
  margin: 2rem;
  box-shadow: 2px 2px 10px;

}

#formprincipal{
  display: flex;
  flex-direction:column;
  padding: 2rem;

}

#periodo{
  display: flex;
  flex-direction: column;
  padding: .5rem;
  margin: .5rem;
  justify-content: space-evenly;
  align-items: center;
}

img{
  border: black solid 1px;
  border-radius: 90px;
}

nav a{

  margin: .5rem;

}

h1{
  margin-top: 1rem;
  font-size: 3rem;
  text-shadow:rgba(207, 204, 204, 0.514) 4px 4px ;

}

input,
textarea {
  border: none;
  border-radius: 2px;
  box-shadow: 4px 8px 10px black;
  margin: 0.6em 0;
  line-height: 1.5em;
max-width: 20rem;
  color: black;
  
}

footer {
  background-color: rgba(14, 13, 13, 0.226);
  grid-area: footer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;


}

footer a {
  margin: .5rem;
}

form fieldset{
  padding: .5rem;
  margin: .5rem;
 display: flex;
 flex-direction: row;
 flex-wrap: wrap;
 align-items: baseline;
 

}

form fieldset label{
  margin: .5rem;
}


button{
border: 2px solid black;
margin: 1.5rem;
padding: 1rem;
font-size: 20px
}

button:hover{
  font: bold;
  color: blue;
  transform: scale(1.1, 1.1);
}

