* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
}

#nav {
  display: flex;
  justify-content: space-between;
  padding-bottom: 0.5rem;
}

#nav a {
  margin-right: 2rem;
  text-decoration: none;
}

#links {
  display: flex;
  align-items: center;
}

#carrusel div {
  max-height: 300px;
}

.carousel-caption h5 {
  font-size: 2rem;
  color: white;
  text-shadow: 1px 1px 2px black;
}

.carousel-caption p {
  color: white;
  text-shadow: 2px 2px 3px black;
  font-size: 1.5rem;
}

#footer {
  background-color: black;
  display: flex;
  justify-content: center;
  min-height: 250px;
  align-items: center;
}

#footer a {
  margin: 2rem;
}

#footer :hover {
  transform: scale(1.05);
}

#comentarios {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 4rem 0 4rem;
}

#comentarios h2 {
  margin-top: 2rem;
  font-size: 3rem;
  font-weight: bolder;
}

#tarjetas-comentarios {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tarjeta {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid 1px black;
  border-radius: 4px;
  margin: 2rem;
  transition: all 250ms ease;
}

.tarjeta img {
  border-radius: 4px;
}

.tarjeta-texto {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(9, 10, 10, 0.13);
  margin-top: 0.3rem;
  width: 100%;
}
.tarjeta-texto h5 {
  font-size: 30px;
  font-weight: 900;
}

.tarjeta-texto p {
  margin: 0 0.5rem 0 0.5rem;
}

.tarjeta img {
  margin-top: 0.5rem;
}

#info_inscripcion {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  color: white;
  padding: 4rem 0 4rem;
}

#info_pasos {
  display: flex;
}

.paso {
  margin: 2rem;
  border: 1px white solid;
  padding: 0rem 0.5rem;
  max-width: 200px;
  border-radius: 3px;
}

.num {
  display: flex;
  justify-content: center;
  margin-top: 0.3rem;
}

.paso h5 {
  display: inline-flex;
  font-weight: bolder;
  color: black;
  border: solid 1px white;
  background-color: white;
  border-radius: 100px;
  padding: 0.7rem 1.25rem;
}

#info_inscripcion h3 {
  margin-top: 2rem;
  font-size: 3rem;
  font-weight: bolder;
}

#sedes {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 4rem;
  background-color: black;
  color: white;
}

.sedes-ind {
  display: flex;
  margin: 0 5rem 2rem;
  border: solid white 1px;
  border-radius: 10px;
  padding: 2rem;
  align-items: center;
  color: white;
}

.sedes-ind img {
  border-radius: 5px;
  margin: 0 1rem;
  height: 200px;
}

#sedes h3 {
  font-size: 3rem;
  font-weight: bolder;
  margin-bottom: 2rem;
  color: white;
}

#contacto {
  display: flex;
  margin: 5rem 0 -4rem;
  justify-content: center;
}

.caja-contacto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
  border: solid blue 2px;
  border-radius: 10px;
  background-color: blue;
  color: white;
  margin: 0 4rem 0;
  height: 10rem;
  box-shadow: 3px 3px 3px black;
}

.caja-contacto :hover img{
  transform: scale(1.1);
}

#info_pasos :hover {
  color: black;
  background-color: aliceblue;
  border: solid black 1px;
  box-shadow: 1px 1px 3px white;
  transform: translateY(-4%);
}

#info_pasos :hover h5 {
  color: black;
  background-color: black;
  color: white;
}

#info_pasos :hover section {
  border: none;
}

#info_pasos :hover p {
  border: none;
}

#tarjetas-comentarios :hover {
  box-shadow: 1px 1px 3px black;
  transform: translateY(-3%);
}

#tarjetas-comentarios :hover img {
  box-shadow: none;
}

#tarjetas-comentarios :hover section {
  box-shadow: none;
  transform: translateY(0%);
}

#tarjetas-comentarios :hover p {
  box-shadow: none;
}

#tarjetas-comentarios :hover h5 {
  box-shadow: none;
}
