* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;

}

.contenedor {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 0.5fr 5fr 0.5fr;
  grid-template-areas:
    "nav nav nav nav"
    "cuerpo cuerpo cuerpo cuerpo"
    "footer footer footer footer";
    background-color: rgb(224, 219, 219);
  
   
}


#nav {
  grid-area: nav;
  display: flex;
  justify-content: space-between;
  padding-bottom: 0.5rem;
  background-color: white;
 
}

#nav a {
  margin-right: 2rem;
  text-decoration: none;
}

#links {
  display: flex;
  align-items: center;
}

#logo img{
  width: 50px;
  height: 50px;
}

#main{
  grid-area: cuerpo;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem 0.5rem 2rem 0.5rem;
}

#main h1{
  font-size: 40px;
  font-weight: 900;
  margin-bottom: 1rem;
}

#titulo{
  display: flex;
  flex-direction: column;
}

#titulo h2{
margin-bottom: .1rem;
}

#formulario{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#form-principal{
  display: flex;
  flex-direction: column;
  margin: 2rem .5rem 2rem .5rem ;
}

#boton{
  background-color: rgb(26, 22, 22);
  color: white;
  font-size: 20px;
  padding: .7rem 1.5rem;
  border-radius: 5px;
  box-shadow:3px 5px 5px 2px black;
}

fieldset{
  display: flex;
  flex-direction: column;
  padding: 2rem 0.5rem 2rem 0.5rem;
}

fieldset section{
  margin-top: 1rem;

}

#footer{
  grid-area: footer;
  display: flex;
  justify-content: center;
  background-color: black;
  padding: 2rem 0 2rem;
}

#footer a{
  margin: 0 1rem ;
}



#caja-mensaje p{
  font-size: medium;
 border-radius: 5px;
}

.success{
  background-color: rgb(129, 189, 40);
   border: 1px black solid;
  border-radius: 5px;
  margin-top: 1rem;
  font-weight: 900;
}

.fail{
  background-color: red;
  border: 1px black solid;
  border-radius: 5px;
  margin-top: .5rem;
  padding: .5rem;
  color: white;
  font-weight: 900;
}

