*{
    box-sizing: border-box;
    font-family: 'Comme', sans-serif;
}

/*header*/

header{
    background-color: rgba(126, 154, 187, 0.534);
    margin: 0;
    padding: 2rem;
    position: sticky;
    z-index: 2;
}


#logo_inicio{
    margin: 10px;
    width: 50px;
    height: 50px;
    float: right;  
}

.insc_button{
  border: 2px solid black;
  background-color:   rgba(94, 137, 187, 0.801);
  margin: 1rem;
  font-weight: 300;
  font-size: 20px
}

.insc_button:hover{
    text-decoration: none;
    color:  rgba(8, 73, 148, 0.644);
    font: bold;
}

/*main*/

body{
    background-color: rgba(166, 187, 211, 0.336);
}

#titulo_ppal{
    text-align: center;
    font-family: 'Castoro Titling', cursive;
    color: rgba(66, 114, 168, 0.801);
    font-weight: bold;
    text-decoration: underline;
    font-size: 4rem;
    margin: 1rem;
    padding: 1rem;
   
}


#carouselExample{
    margin: 2rem;
    padding: 1rem;
    max-height: 600px;
    max-width: 700px;
    margin: 2rem;
    z-index: 1

}

/*.carousel-control-prev:hover{
    color: #000;
    font: bold;
}

.carousel-control-next:hover{
    color: #000;
    font: bold;
} */

/*.carousel-slide{
    width: 100%;
    height: 300px;
    position: relative;
  }
  
  .carousel-item{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  

.carousel-item{
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  } */
  

h2{
    text-align: center;
    font-weight: 600;
    margin: 2rem;
    padding: 2rem;
}

/*ul{
    margin-left: 4rem;
    font-weight:400;


} */

#articles_section1{
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
}

#articles_section1 article{
    border: 1px solid rgba(66, 114, 168, 0.801);
    text-align: center;
    margin: 2rem;
    padding: 1rem 1rem;
    width: 90%;
    max-width: 30rem;
    height: 40rem;
    border-radius: 1rem;
    overflow: auto;

}

p{
    font-weight: 100, bold;
}

/*table*/

table{
    text-align: center;
    margin: 0 auto;
    padding: 1rem;
    font-weight: 300, bold;
    border: 2px solid rgba(66, 114, 168, 0.801);
    align-content: center;   
} 

.dias{
    margin: 2rem;
    padding: 2rem;
}

.horarios_1{
    margin: 2rem;
    padding: 2rem;
}

.horarios_2{
    margin: 2rem;
    padding: 2rem;
}

/*articles_section2*/

#articles_section2{
    margin: 1rem;
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#articles_section2 article{
    border: 1px solid rgba(66, 114, 168, 0.801);
    text-align: center;
    margin: 2rem;
    padding: 0.5rem;
    width: 90%;
    max-width: 25rem;
    height: 36.5rem;
    border-radius: 1rem;
    overflow: auto;
    /*transform: scale(1rem);*/
}

#articles_section2 img{
    max-width: 85%;
}

/*@keyframes #articles_section2 {
    
}
*/
#mapa{
width: 20rem;
height: 20rem;
}

footer{
    margin: 0;
    background-color: rgba(94, 137, 187, 0.801);
    
    
}

/*footer h2{
    margin: 1rem;
    padding: 1rem;
} */

#footer_info{
    max-height: 13rem;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

#redes_sociales h2{
    margin: 1rem;
    padding: 1rem;
    font-weight: 600;

}


.fa-brands{
    color:rgba(48, 83, 122, 0.801);
    padding: 1rem; 
    font-size: 2rem;

    
}

.fa-brands:hover{
    text-decoration: none;
    color: #fff;
    font: bold;
}


#ir_inicio{
    text-align: center;
    font-weight: 300;
    color: rgba(48, 83, 122, 0.801);
}

#ir_inicio a:hover{
    text-decoration: none;
    color: #fff;
    font: bold; 
} 

@media screen (min-widht: 360px) {
    #articles_section1{
        flex-direction: column;
    }
}



