*{
    box-sizing: border-box;
    font-family: 'Comme', sans-serif;
}


body{
        background-color: rgba(187, 126, 172, 0.247);
}


.insc_button{
  border: 2px solid black;
  margin: 1.5rem;
  padding: 1rem;
  font-weight: 300;
  font-size: 20px
}

#titulo_ppal{
    text-align: center;
    font-family: 'Castoro Titling', cursive;
    color: rgba(107, 52, 91, 0.863);
    font-weight: bold;
    font-size: 5rem;
   
}


.carousel-inner{
    margin: 8rem;
    max-width: 80%;
}

.carousel-item{
    height: 700px;
    text-align: center;
    margin: 1rem, 1rem, 1rem, 1rem;
    padding: 1rem;
}

h2{
    text-align: center;
    font-weight: 600;
    margin: 2rem;
    padding: 3rem;
}

p{
    font-weight: 100, bold;
}

table{
    text-align: center;
    border: 2px solid black;
    margin: 0 auto;
    padding: 1rem;
    font-weight: 300, bold;
    align-content: center;   
} 

.dias{
    margin: 2rem;
    padding: 2rem;
}

.horarios_1{
    margin: 2rem;
    padding: 2rem;
}

.horarios_2{
    margin: 2rem;
    padding: 2rem;
}

#footer_info{
    display: flex;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    
}

#redes_sociales{
    border: 2px solid rgba(187, 126, 172, 0.897);
    margin: 0 auto;
    padding: 1rem;
    font-weight: 600;
}

.fa-brands{
    color:rgb(187, 80, 160);
    font-size: 2rem;
    margin: 2rem;
    padding: 1rem;
    
}

.fa-brands:hover{
    text-decoration: none;
    color: #fff;
    font: bold;
}


#ir_inicio{
    text-align: center;
    font-weight: 300;
    padding: 1rem;
}

#ir_inicio a:hover{
    text-decoration: none;
    color: #fff;
    font: bold; 
}